env:
  browser: true
  es2021: true
  node: true
extends:
  - noir/all
parserOptions:
  project: ./tsconfig.eslint.json
  ecmaVersion: latest
  sourceType: module
rules:
  "@typescript-eslint/no-magic-numbers": off
  import/no-relative-parent-imports: off
  import/extensions: off
#  import/extensions:
#    - error
#    - always
#    - ignorePackages: true
